# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.lock
projects/.metadata/.log
projects/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
*.prefs
*.running
*.ini
*.index
*.snap
projects/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
projects/.metadata/.mylyn/.taskListIndex/segments.gen
projects/.metadata/.mylyn/.taskListIndex/segments_1
projects/.metadata/.plugins/org.eclipse.core.resources/.history/e5/d0ca580cc85b0014157aa423b1942c2f
projects/.metadata/.plugins/org.eclipse.core.resources/.projects/portalaluno/org.eclipse.egit.core/GitProjectData.properties
*.resources
projects/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
projects/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
projects/portalaluno/.classpath
projects/portalaluno/.project
projects/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
projects/.metadata/.mylyn/repositories.xml.zip
projects/.metadata/.mylyn/tasks.xml.zip
projects/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
projects/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
projects/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
projects/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
projects/.metadata/.plugins/org.eclipse.wst.internet.cache/-1711824229.cache
projects/.metadata/.plugins/org.eclipse.wst.internet.cache/902236223.cache
projects/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
projects/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
projects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/portalaluno/2014/10/43/refactorings.history
projects/.metadata/.mylyn/.tasks.xml.zip
projects/.metadata/.plugins/org.eclipse.debug.core/.launches/Application.launch
projects/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
projects/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png