<html>
<head>
<title> DECLARAÇÃO </title>
<link rel="stylesheet"
      th:href="@{/css/novo.css}"
      href="../../css/novo.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>

<body>
<div th:replace="../fragments/header :: header"></div>
	<h1> DECLARAÇÃO </h1>
	<h2> <p style="font-size:18px;">
	<span style="font-size:18px;">Aqui você pode gerar uma declaração escolar digital</span></p></h2>
	<div class="text">
    	<p><span>Para gerar a declaração , clique no botão abaixo para prosseguir</span></p>
    </div>
<input id="input" type="submit" value="GERAR"/>
</body>
</html>