<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PORTAL DO ALUNO</title>
    <link rel="stylesheet"
      th:href="@{/css/novo.css}"
      href="../../css/novo.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="../fragments/header :: header"></div>
	
	<h1>Bem vindo ao Portal do Aluno</h1>
	<div th:if="${param.logout}">
            Você foi deslogado mané.
        </div>
	<h2> Insira seus dados para ter o acesso</h2>
    <form th:action="@{/home}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    
    <p> Se você está tendo problemas no acesso, clique <a href="/contato">aqui</a>
    </p>
    </body>
</html>