<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PORTAL DO ALUNO</title>
    <link rel="stylesheet"
      th:href="@{/css/novo.css}"
      href="../../css/novo.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Bem vindo ao Portal do Aluno</h1>
	<h2> Insira seus dados para ter o acesso</h2>
    <form action="#" th:action="@{/}" th:object="${login}" method="post">
    	<p>Matricula: <input type="text" th:field="*{matricula}" /></p>
        <p>Senha: <input type="password" th:field="*{senha}" /></p>
        <p><input type="submit" value="Enviar" /> </p>
    </form>
    
    <p> Se você está tendo problemas no acesso, clique 
    <a href="novacontato.html"> aqui </a>
    
    </body>
</html>