<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>INSCRIÇÕES</title>
<link rel="stylesheet"
      th:href="@{/css/novainscricoes.css}"
      href="../../css/novainscricoes.css"/>
<h1>INSCRIÇÕES</h1>
	<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>

<body>
<p> <span style="font-size:18px;">Aqui você poderá solicitar as inscrições em disciplinas e acompanhar o andamento</span> </p>
	
	<table>
  <tr>
    <th>HORÁRIO</th>
    <th>SEG</th>
    <th>TER</th>
    <th>QUA</th>
    <th>QUI</th>
    <th>SEX</th>
    <th>SAB</th>
    
  </tr>
  <tr>
    <td><b>1º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>2º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>3º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>4º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>5º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>6º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
</table>

<p><input id="u106_input" type="submit" value="Salvar "/></p>
<p><input id="u105_input" type="text" value="Apresentar as turmas em ordem de período e prioridade ou manter esquema coruja"/></p>

</body>

</html>