<!DOCTYPE html><html>
<head>
	<style>
table, th, td {
    border: 1px solid black;
}
</style>
<title> HISTÓRICO </title>
	<link rel="stylesheet"
      th:href="@{/css/novo.css}"
      href="../../css/novo.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>

<body>
<div th:replace="../fragments/header :: header"></div>
	<h1> HISTÓRICO </h1>
	<h2> <p style="font-size:18px;">
	<span style="font-size:18px;">Aqui você vê todo seu histórico escolar em tempo real</span></p></h2>
	<table>
  <tr>
    <th>Disciplina</th>
    <th>Situação</th>
  </tr>
  <tr>
    <td>OO1</td>
    <td>Aprovado</td>
  </tr>
  <tr>
    <td>OO2</td>
    <td>Cursando</td>
  </tr>
</table>
		
</body>
</html>