<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PRINCIPAL</title>
<link rel="stylesheet"
      th:href="@{/css/novo.css}"
      href="../../css/novo.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>

<body>


<div th:if="${param.error}">
            nao tem aluno mané
        </div>








<div th:replace="../fragments/header :: header"></div>

<p><span><h1>Bem vindo, Nome do Aluno&nbsp; </h1></span></p>
<p th:text="'id: ' + ${Aluno.matriculaaluno}" />
    <p th:text="'content: ' + ${Aluno.nome}" />
<p><span>Número de Matrícula</span></p>

<div id="u155" class="text">
        <p><span>Agenda do Aluno</span></p>
        </div>
 <p>    
 <table>
 <tr data-th-each="ins : ${inscricoes}">
 	     <td><b>DISCIPLINA</b></td>
    <td data-th-text="${ins.getTurma().getSigladisciplina()}">...</td>
</tr>
   <tr data-th-each="ins : ${inscricoes}">
           <td><b>FALTAS</b></td>
    <td data-th-text="${ins.getTotalFaltas()}">...</td>
  </tr>
  <tr>
    <td><b>NOTA AV1</b></td>
   
  </tr>
  <tr>
    <td><b>NOTA AV2</b></td>
  </tr>
  <tr>
    <td><b>NOTA AVS</b></td>
  </tr>
  <tr>
    <td><b>MÉDIA</b></td>
     
  </tr>
  <tr>
    <td><b>NOTA AVF</b></td>
 </tr>
  <tr data-th-each="ins : ${inscricoes}">
    <td><b>MÉDIA FINAL</b></td>
    <td data-th-text="${ins.getMediaFinal()}">...</td>
  </tr>
</table>
 </p> 
 
 <p>      
 <table>
  <tr>
    <th>HORÁRIO</th>
    <th>SEG</th>
    <th>TER</th>
    <th>QUA</th>
    <th>QUI</th>
    <th>SEX</th>
    <th>SAB</th>
    
  </tr>
  <tr>
    <td><b>1º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>2º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>3º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>4º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>5º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><b>6º TEMPO</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
</table> 
</p>
      
</body>
</html>