body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:0px;
  width:730px;
  height:440px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:356px;
  top:215px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:356px;
  top:265px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:266px;
  top:216px;
  width:50px;
  height:22px;
  font-size:18px;
  color:#000066;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u6 {
  position:absolute;
  left:266px;
  top:266px;
  width:58px;
  height:22px;
  font-size:18px;
  color:#000066;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u8 {
  position:absolute;
  left:236px;
  top:30px;
  width:377px;
  height:94px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:94px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:292px;
  top:144px;
  width:237px;
  height:37px;
  color:#000066;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u12 {
  position:absolute;
  left:360px;
  top:322px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000066;
  text-align:center;
}
#u13 {
  position:absolute;
  left:253px;
  top:374px;
  width:314px;
  height:16px;
  color:#000066;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
